body {
  background-color: white;
  font-family: Verdana, sans-serif;
  font-size:90%;
}

#content {
padding:1em;
margin: 0 auto;
text-align: left;
}

#content img {
  margin-right:20px;
}

#content h1 {
margin:0 0 10px 0;
}

#content #intro {
  max-width: 700px;
  margin-left: 400px;
}

#content #concerts {
  float: right;
  width: 300px;
  border: dashed 1px #888888;
  padding: 0;
  margin: 0 20px;
}

#content #concerts h2 {
  background-color: #888888;
  color: #ffffff;
  text-align:center;
  margin:0;
  padding: 2px 10px;
}

#content #concerts ul {
  margin:0;
  padding:0 2em;
}

#content #concerts li {
  margin: 1em;
}

#content #concerts li h3 {
  margin: 0;
}

#badges {
  margin:20px;
}