/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
time
body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #990000;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #993300;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #a31919;
}

#contact h3 a {

    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #990000;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #990000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #8a0000;
    color: #fff;
    background-color: #8f0000;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #990000;
    background-color: #990000;
}

.btn-primary .badge {
    color: #990000;
    background-color: #fff;
}

.btn-xl {
    padding: 15px 20px;
    border-color: #990000;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #990000;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #8a0000;
    color: #fff;
    background-color: #8f0000;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #990000;
    background-color: #990000;
}

.btn-xl .badge {
    color: #990000;
    background-color: #fff;
}

#lang-selector {
    color:#aaaaaa;
    float:right;
    padding: 15px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar-default {
    border-color: transparent;
    background-color: transparent;
    opacity: 1;
}

.navbar-default .navbar-header {
    background-color: rgba(34,34,34,0.6);
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #990000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #8f0000;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
    background-color: #222;
    opacity: 0.98;
}

.navbar-default .navbar-toggle {
    border-color: #990000;
    background-color: #990000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #990000;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #990000;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #990000;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #8f0000;
}

#lang-selector {
    font-size: 95%;
    margin-left: 20px;
}

.modal {
    overflow-y: scroll;
}

.modal-open {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.concert-modal,
.commentary-modal {
    width: 100%;
}

#paypalModal.modal {
    width: 300px;
    margin: 130px auto;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-header,
    .navbar-default .navbar-collapse {
        background-color: transparent;
    }
    
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width:100%;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 100px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .tagline {
    font-style: italic;
    padding-left: 60px;
  
}


@media(min-width:480px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    header .intro-text .intro-lead-in {
        font-size: 30px;
    }
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 300px;
    }

    header .intro-text .intro-lead-in {
        font-size: 40px;
    }

}

@media(min-width:992px) {
    header .intro-text {
        padding-top: 250px;
        padding-bottom: 350px;
    }
}

@media(min-width:1200px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 420px;
    }
}

section {
    padding: 80px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 30px;
}

section h3.section-subheading {
    margin-bottom: 40px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 110px 0;
    }
}

/* MUSIC */

#commentary {
  font-style:italic;
}

.cd-cover {
    border: solid 1px #BBBBBB;
}

ul.digitallinks {
  list-style: none;
  padding:0;
}

ul.digitallinks li {
  float:left;
  width:80px;
  margin: 0 15px 15px 15px;
}

.track-commentary {
  font-style:italic;
}

ol.tracks {
  width: 100%;
  margin-bottom: 20px;
}

ol.tracks li {
  margin-bottom: 7px;
}

ol.tracks .track-minutes {
  float:right;
  text-align:right;
  width:50px;
  font-family: monospaced;
}

ol.tracks .track-notes {
  font-style:italic;
}

.soundcloud-small {
  margin:2px 0;
  background-color: #f5f5f5;
}

@media(min-width:768px) {
    ol.tracks {
      width: 400px;
    }
}

/* CONCERTS */

.concert-link {
    display: block;
    position: relative;
    margin: 5px 0;
    max-width: 400px;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 40px;
    min-height: 40px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 130px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-notes {
    float: right;
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: #f2f2f2;
}

.timeline>li .timeline-notes:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-notes:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 120px;
    height: 80px;
    margin-left: 0;
    border: 2px solid #f1f1f1;
/*    border-radius: 100%; */
    text-align: center;
    color: #fff;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 130px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    text-transform: none;
    color: #777;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
    color: #000;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

.concert-modal {
    width:100%;
}
  

@media(min-width:768px) {
    .timeline:before {
	left: 75px;
    }  
    
    .timeline>li {
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 0 160px;
    }
    
    .timeline>li .timeline-image {
        width: 150px;
        height: 100px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 30px 0 160px;
    }
    
    .timeline>li .timeline-notes {
	padding: 20px 100px;
    }

}

@media(min-width:992px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        min-height: 150px;
        margin-bottom: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 40px 20px 20px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 225px;
        height: 150px;
        margin-left: -113px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 20px 20px 40px;
        text-align: left;
    }
}

@media(min-width:1200px) {
    .concert-modal, 
    .commentary-modal {
	width:800px;
	margin: 0 auto;
    }
  
    .timeline>li {
        min-height: 180px;
    }

    .timeline>li .timeline-panel {
        padding: 0 50px 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 270px;
        height: 180px;
        margin-left: -135px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px 50px;
    }
}

/* ABOUT */

img#duo {
  margin-top: 80px;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}


/* CONTACT */

section#contact {
    background-color: #222;
    background-image: url(../img/bridge.jpg);
/*
    background-position: center;
    background-repeat: no-repeat;
*/    
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#contact .section-heading, .section-subheading {
    color: #fff;
}

#contactForm {
    padding: 0 10px;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #990000;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

ul.social-buttons {
    margin-bottom: 20px;
}

ul.social-buttons li a {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

section#contact ul.social-buttons li a {
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
}

section#contact ul.social-buttons li a.share {
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    background-color: #555;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active,
section#contact ul.social-buttons li a.share:hover,
section#contact ul.social-buttons li a.share:focus,
section#contact ul.social-buttons li a.share:active{
    background-color: #990000;
}


/* FOOTER */

footer {
    padding: 10px 0;
    text-align: center;
}

footer span.copyright, footer span.credits  {
    text-transform: uppercase;
    text-transform: none;
    text-align: left;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    margin: 0 5px;
}

#credits {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style:italic;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.video {
  margin:10px 0 40px 0;
}

.modal-content {
    padding: 50px 20px;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#paypalModal .modal-content {
    padding: 50px 20px;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.concert-modal .modal-content p {
    margin-bottom: 30px;
}

.concert-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.concert-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.concert-modal .modal-content img {
    margin-bottom: 30px;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.close-modal:hover {
    opacity: .3;
}

.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #990000;
}

::selection {
    text-shadow: none;
    background: #990000;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #990000;
}